<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div id="bod">
        <input class="form" type="text" id="name" placeholder="Enter name">
        <input class="form" type="button" id="submit" value="Submit"> 
        <div id="search">Searching...</div>
    </div>
    <div id="hr"></div>
    <div id="min"></div>
    <div id="sec"></div>
    <div id="count"></div>
    <div id="winmess"></div>
    <div id="losemess"></div>
    <script type="module" src="script.js"></script>
</body>
</html>