<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pog</title>
    <style>

    </style>
</head>

<body>

    <div id="vertical">
        <% if (username===undefined) { %>
            <p>No Username Selected</p>
            <% } else if (username=='none' ) {%>
                <p>Username not in database OR none user selected</p>

                <% } else { %>
                    <%- username %>'s balance is <%- pogAmount %> pogs
                            <% } %>
                                <div>
                                    <a href="/">Return</a>
                                </div>
    </div>

</body>

</html>