<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h2><%- phrase %> </h2>
  <table>
    <% for(let userName of Object.keys(data)){%>
    <tr>
        <td>
<a href="balance?userName=<%- userName%>">
  <%- userName%>

</a>
          
        </td>

        </tr>
        <%}%>

  </table>
  </div>
  </div>
</body>

</html>