<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        var data = fs.readFileSync("data.json");

        data = JSON.parse(data);
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h2><%- phrase %> </h2>
    <h3> <%-userName%> has <%-pogCount%> pogs</h3>
    
</body>

</html>