<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="name" placeholder="Enter name">
    <input type="button" id="submit" value="Submit"> 
    <div id="search">Searching...</div>

    <script>
        var BACKSTYLE = document.body.style;

        BACKSTYLE.backgroundColor = "";

        document.getElementById("submit").addEventListener("click", function() {
            return BACKSTYLE.backgroundColor = "red";
        });

        let changeColor = () => {
                BACKSTYLE.backgroundColor = "green";
            }

        if (BACKSTYLE.backgroundColor == "red") {
            setInterval(changeColor, 1000)
        };
    </script>
</body>
</html>