<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YO YO YOO ITS YOUR BOY</title>
    <h1> Hello, <%-name%> </h1>
    <h2>If you would like to change 'Guest' to your name simply just type this in the search bar after hello: ?name = (What ever name you want to insert!)</h2>
</head>
<body>
</body>
</html>