<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro page</title> 
    <h2> If you like to access my html, just type in this in the search bar after the 3000: 
         /html.</h2>

        <h2>If you would like to acces my index.ejs just type in /hello in the search by afterthe 3000.</h2>
</head>
<body>
</body>
</html>