body {
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #5840d4;
}

p {
    text-align: center;
    font-family: Georgia, serif;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 10px;
    color: #000000;
    background-color: #5840d4;
}

table.GeneratedTable {
    width: 100%;
    background-color: #000000;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;
    color: #ffffff;
}

table.GeneratedTable td,
table.GeneratedTable th {
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;
    padding: 3px;
    font-size: 50px;
    text-align: center;
}

table.GeneratedTable thead {
    background-color: #5840d4;
}