<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="/submit" method="post">
        <input type="text" name="userName" id="user">
        <input type="text" name="pogAmount" id="number">
        <input type="submit" name="sub" id="submit" value="Submit">
    </form>
</body>
</html>