<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</title>
</head>

<body>
    <form action="/POST" method="get">
        <label for="cat?">are you a cat? :</label>
        <input type="text" placeholder="yes or no" name="cat"><br><br>
        <input type="checkbox" name="futurecat">
        <input type="submit" value="submit. cat">
    </form>
</body>

</html>