<&percnt;- include('./partials/header'); &percnt;>

    <main>
        <div class="ui segment">
            <h1>At least we can see something now</h1>
            <p>This is visual of templating through EJS</p>

            <h2>Variable</h2>
            <p>
                <&percnt;= subheading &percnt;>
            </p>

            <ul>
                <&percnt; characters.forEach(function(character) { &percnt;>
                    <li class="ui segment">
                        <strong>
                            <&percnt;= character.name &percnt;>
                        </strong>
                        is <&percnt;= character.designation &percnt;> at hogwarts.
                    </li>
                    <&percnt; }); &percnt;>
            </ul>

        </div>
    </main>

    <footer>
        <&percnt;- include('./partials/footer'); &percnt;>
            </footer>

            </body> </html>