<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance</title>
</head>
<body>
    <a href="/">Go to Home</a>

    <% if (!userName) { %>
        <p>No user selected</p>
    <% } else if (!pogAmount) { %>
        <p>No pogs to display</p>
    <% } else { %>
        <p><%- userName %> has <%- pogAmount%> pogs.</p>
    <% } %>
    

</body>
</html>