<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< Updated upstream
    <title>Document</title>
</head>
<body>
    <form action="/submit" method="post">
        <input type="text" name="userName" placeholder="Enter name:">
        <input type="number" name="pogAmount" placeholder="Enter pogs:">
=======
    <title>Enter Pogs:</title>
</head>
<body>
    <form action="/submit" method="POST">
        <input type="text" name="name" placeholder="Enter your name:">
        <input type="number" name="Pogs" placeholder="Enter amount of pogs:">
>>>>>>> Stashed changes
        <input type="submit" value="submit">
    </form>
</body>
</html>