<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <a href="/edit">Edit Pog Amounts</a> <br>
    <a href="/balance">See Your Balance</a> <br>


    <p><%- userName %></p>

</body>
</html>